header {
  text-align: center;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: darkblue;
}

p {
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
}

.bar-menu {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

a.menu {
  flex: 1;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: "Source Serif 4", serif;
  font-weight: bold;
  font-size: 18px;
  background-color: black;
}

div.index-container {
  background-color: lightgray;
  width: 400px;
  padding: 10px;
  display: block;
}

a.index {
  color: black;
  font-family: "Source Serif 4", serif;
  font-size: 14px;
  background-color: none;
}

a:hover {
  background-color: darkgrey;
  color: black;
}

.active {
  background-color: rgb(0, 0, 50);
}


img.welcome {
  width: 500px;
  border: solid;
  border-width: thick;
  border-color: black;
  margin-right: 10px;
  float: left;
  box-shadow: 8px 8px 8px darkgray;
}

table {
  width: 100%;
  align-content: center;
  font-family: "DM Serif Display", serif;
}

thead {
  background-color: darkblue;
  color: white;
  font-size: large;
}

tbody {
  font-size: medium;
}

th {
  text-align: left;
  padding: 10px;
}

.impar {
  background-color: white;
  color: black;
}

.par {
  background-color: rgb(190, 235, 190);
  color: black;
}

.interesting {
  display: flex;
}

iframe {
  margin: 10px;
  flex: 1;
  height: 250px;
}

.img-i {
  margin: 10px;
  max-height: 250px;
  flex: 1;
}

.enlace {
  margin: 10px;
  flex: 1;
  font-size: 20px;
}

li::marker {
  color: red;
}

.era {
  border: solid;
  border-color: black;
  margin: 5px;
  background: linear-gradient(#bbb4bb, #e9acac);
}
